body {
    margin: 0;
}

/* div {
    width: 200px;
    height: 200px;
    background-color: brown;
} */

h1 {
    width: 200px;
    background-color: pink;
    padding-left: 50px;
    border: 3px solid;
    margin-top: 50px;
    margin-bottom: 100px;
}

#one {
    background-color: #005f73;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    margin: 10px 20px 30px 40px;
}

#two {
    background-color: #0a9396;
    border-color: #180bca #180bca #180bca rgb(7, 233, 37);
    border-width: 3px;
    border-style: dashed;
    box-sizing: border-box;
    /* border-left-color: rgb(7, 233, 37); */
}

#three {
    background-color: #94d2bd;
    border: medium solid green;
    border-left: 8px dotted black;
    border-radius: 30%;
}

/* div {
    width: 210px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
} */

img {
    width: 200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 50%;
}

button {
    padding: 10px 20px 30px 40px;
    /* margin: 0; */
}

h2 {
    background-color: palegoldenrod;
    border: 1px solid black;
    /* display: inline */
    padding: 50px;
    width: 300px;
}

span {
    /* display: block; */
    background-color: paleturquoise;
    border: 1px solid black;
    margin: 50px;
    /* width: 500px;
    height: 500px; */
}

div {
    width: 200px;
    height: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}